<div class="row d-flex justify-content-center">
  <div class="col-12 col-sm-5">
    <div class="card">
      <div class="card-header bg-primary text-light text-center">
        <i class="bi bi-credit-card-2-front"></i>{{#if editMode}} Update Region {{region.name}} {{else}} Add
        new Region {{/if}}
      </div>
      <div class="card-body">
        <form method="POST" action="/region/{{#if editMode}}update{{else}}add{{/if}}">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" value="{{#if editMode}}{{region.name}}{{/if}}" class="form-control" id="name"
              name="Name" required="required" />
          </div>

          {{#if editMode}}
          <input type="hidden" name="regionID" value="{{region.id}}" />
          {{/if}}

          <button type="submit" class="btn btn-primary float-end"><i class="bi bi-floppy"></i> Save</button>
          <a href="/region/index" class="btn btn-warning float-end me-2"><i class="bi bi-arrow-left"></i> Back to
            list</a>
        </form>
      </div>
    </div>
  </div>
</div>